<!DOCTYPE html>
<html lang="en">
<head>

    <title>Neighborhood Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!--
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="build/styles.css">
    -->

    <link rel="stylesheet" href="deploy/frontend-nanodegree-neighborhood-map.min.css">

</head>

<body>

<div class="container-fluid">

    <div class="row search-bar">

        <div class="col-xs-12">

            <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input id="search" type="text" class="form-control"
                       data-bind="textInput: filter, attr:{ placeholder: searchPlaceholder }">
                <span class="input-group-addon"><i
                        data-bind="click: refresh, css: { 'fa-spin': loading }"
                        class="refresh fa fa-refresh"></i></span>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 list-view" data-bind="css: { bottom: onSmallScreen() }">

            <div id="list-group-wrapper">

                <ul class="list-group" id="listings">

                    <!-- set display to none for variable based elements. They get displayed while KO is loading. -->

                    <a style="display: none;" class="list-group-item active"
                       data-bind="text: neighborhood, visible: neighborhood"></a>

                    <!-- ko foreach: { data: listings, afterRender: setSizes } -->
                    <button type="button" class="list-group-item"
                            data-bind="visible: show, text: title, click: $parent.focusOnMarker"></button>
                    <!-- /ko -->

                    <a style="display:none;" class="list-group-item no-hover"
                       data-bind="visible: ( !listings.length && !loading )">No Listings to View</a>

                    <a style="display:none;" class="list-group-item no-hover"
                       data-bind="visible: loading">Loading Listings</a>

                </ul>

            </div>

        </div>

        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 map-view" data-bind="css: { bottom: onSmallScreen() }">

            <div id="map"></div>

        </div>

    </div>

</div>

<script type="text/template" id="infoWindowContent-template">
    <div class="row info-content-row">
        <div class="col-xs-12 col-sm-12">

            <div class="row">

                <div class="image-col col-sm-2">
                    <img src="<%= image %>" alt="" class="hidden-xs img-thumbnail">
                </div>

                <div class="content-col col-sm-10">

                    <div class="content-wrapper">
                        <h2 class="title"><%= title %></h2>
                        <h3 class="address"><% print(address) %></h3>
                        <h3 class="phone"><%= display_phone %></h3>
                    </div>


                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p class="description"><%= description %></p>
                </div>
            </div>

        </div>
    </div>
</script>

<!--
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/knockout/dist/knockout.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="bower_components/q/q.js"></script>
<script src="bower_components/bootstrap3-typeahead/bootstrap3-typeahead.min.js"></script>
<script src="bower_components/fontawesome-markers/fontawesome-markers.min.js"></script>
<script src="build/scripts.js"></script>
-->

<script src="deploy/frontend-nanodegree-neighborhood-map.min.js"></script>

<script async defer src="http://maps.googleapis.com/maps/api/js?libraries=places&callback=initApp"></script>

</body>

</html>