.container-fluid {
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* http://stackoverflow.com/questions/22156387/twitter-bootstrap-column-and-google-maps-not-working-together */
html, body {
    height: 100%;
}